%basic {
    min-width: 99px;
    min-height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    @extend   %basic;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: none;
    border-radius: 22px;    

    &:active,focus {
        outline: none;
    }

    &:hover {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        opacity: 0.5;
        cursor: pointer;  
    }
}